#contactMe {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 7vh !important;
    font-size: 3em;
    font-weight: 500 !important;
    color: rgba(245, 245, 245, 0.017);
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#SubmitButton {
    background-color: rgba(0, 0, 0, 0.050);
    border: rgba(0, 0, 0, 0.050);
    color: gold;
    font-weight: 500;
}